@model PiPiPrestaciones.Models.PantallaEstatica

@{
    ViewBag.Title = "Create";
}

<h4>PantallaEstatica</h4>
<hr />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    

    <div id="ion-icons" class="row">
        <div class="col s6">
            <div class="row">
                <div class="input-field">
                    @Html.LabelFor(model => model.Titulo)
                    @Html.EditorFor(model => model.Titulo)
                </div>
               
            </div>
            @Html.HiddenFor(model => model.Icono)

            <div class="row">
                <div class="col s1">
                    <div id="icono-seleccionado"></div>
                </div>
               <div class="col s9">
                   <label class="lb-icon-sel"> Icono seleccionado </label>
               </div>
                
                <div class="col s1 right"><i id="eliminar-icon" class="material-icons">delete</i></div>
            </div>


            @Html.Partial("_SelectorIonIcons")
        </div>
       

    </div>


    <div class="form-horizontal">
      
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    #ion-icons {
        /*height: 25em;
        overflow: scroll;*/
    }

    #icono-seleccionado {
    font-size: 32px;
    margin-right:1em;
    }

    .lb-icon-sel {
        font-size:14px;
        margin-left: 2em;
    }
</style>


<script>
    $(document).ready(function () {
        $(".icon-ionic").click(function () {
            var icon = $(this);
            var iconClass = icon.attr("class").split(" ")
            //icon.removeClass("col");
            //icon.removeClass("s3");
            //icon.removeClass("icon-ionic");

            $("#Icono").val(iconClass[3]);
            var iconSel = $("#icono-seleccionado")
            iconSel.removeAttr("class")

            iconSel.addClass(iconClass[3]);
          

        });

        $(".icon-ionic").hover(function () {
            $(this).css("cursor","pointer")
            var icon = $(this).attr('data-tags');
            $(this).attr('title', icon)
            $(this).attr('data-toggle', 'tooltip')
            //$(this).tooltip();
            //var iconClass = icon.attr("class").split(" ")
            //icon.removeClass("col");
            //icon.removeClass("s3");
            //icon.removeClass("icon-ionic");

            //alert(iconClass[3])

        })

        $("#eliminar-icon").click(function () {
            var iconSel = $("#icono-seleccionado")
            iconSel.removeAttr("class")
        });
        //$('[data-toggle="tooltip"]').tooltip(); 
    });

</script>