@model PiPiPrestaciones.Models.Menu


<div class="row" align="center">
    <div hidden>
        @Html.TextBox("Menus[" + Model.Order + "].Type", Model.Type)
        @Html.TextBox("Menus[" + Model.Order + "].Order", Model.Order)
        @Html.TextBox("Menus[" + Model.Order + "].TitleMenu", "")
        @Html.TextBox("Menus[" + Model.Order + "].Icon", "")
        @Html.TextBox("Menus[" + Model.Order + "].CssModelMenu.ColorBack", "")
        @Html.TextBox("Menus[" + Model.Order + "].CssModelMenu.ColorText", "")
        @Html.TextBox("Menus[" + Model.Order + "].CssModelMenu.ImageBack", "")


    </div> 
        <a class="btn btn-preview blue lighten-3 modal-trigger" data-target="modal1"  data-order="@Model.Order" data-type="@Model.Type" id="btn-preview-@Model.Order">@Model.Type</a>
</div>

<style>
    .btn-preview {
    width:90%;

    }
</style>

<script>
    $(document).ready(function () {
        $(".btn-preview").click(function () {

            $("#show-modal").click();
        });

    });

    

</script>