@model PiPiPrestaciones.Models.Menu


<div class="row" align="center" id="menu-@Model.Order">
    <div hidden>
        @Html.TextBox("Menus[" + Model.Order + "].Type", Model.Type)
        @Html.TextBox("Menus[" + Model.Order + "].Order", Model.Order)
        @Html.TextBox("Menus[" + Model.Order + "].TitleMenu", "")
        @Html.TextBox("Menus[" + Model.Order + "].Icon", "")
        @Html.TextBox("Menus[" + Model.Order + "].CssModelMenu.ColorBack", "")
        @Html.TextBox("Menus[" + Model.Order + "].CssModelMenu.ColorText", "")
        @Html.TextBox("Menus[" + Model.Order + "].CssModelMenu.ImageBack", "")


    </div> 
        <a class="btn btn-preview  modal-trigger"
           data-target="modal1"  
           data-order="@Model.Order"
           data-type="@Model.Type" 
           data-title=""
           data-ionicon=""
           data-colorback=""
           data-colortext=""
           data-imageback=""
           id="btn-preview-@Model.Order">@Model.Type</a>
</div>

<style>
    .btn-preview {
    width:90%;
    background-color:deepskyblue;
    height:4em;
    padding-top:1em;
    }
</style>

<script>
    $(document).ready(function () {
        $(".btn-preview").click(function () {
            debugger;
            var order = $(this).attr("data-order");
            var type = $(this).attr("data-type");
            var title = $(this).attr("data-title");
            var ionicon = $(this).attr("data-ionicon");
            var colorback = $(this).attr("data-colorback");
            var imageback = $(this).attr("data-imageback");

            $("#titulo-edit-menu").val(title);
            $("#backColor-edit-menu").val(colorback);
            $("#seleccion-back-color").css("background-color", colorback);
            $("#icon-edit-menu").val(ionicon);
            var iconSel = $("#icono-seleccionado")
            iconSel.removeAttr("class")
            iconSel.addClass(ionicon)


            $("#edit-menu-done").attr("data-order", order)
            $("#edit-menu-done").attr("data-type", type)

            $("#show-modal").click();
        });
    });

    

</script>