@model PiPiPrestaciones.Models.Planimetry
<div class="row">
    @Html.HiddenFor(model => model.AplicacionId, new { htmlAtributtes = new { @id = "Planimetry_AplicacionId" } })
    <div class="col l6">
        <div class="input-field col l12">
            @Html.TextBoxFor(model => model.TitlePlanimetry)
            @Html.LabelFor(model => model.TitlePlanimetry, "Título de la planimetría")
        </div>
        <div class="input-field col l12">
            @Html.TextBoxFor(model => model.FooterPlanimetry)
            @Html.LabelFor(model => model.FooterPlanimetry, "Nota al pie ")
        </div>
    </div>

  

    <div class="col l6">
        <div class="file-field input-field col l12">
            <div class="btn  blue right">
                <span><i class="material-icons left">file_upload</i>Subir</span>
                <input type="file" id="file-upload">
            </div>
            <div class="file-path-wrapper ">
                <input class="file-path validate" placeholder="Subir planimetría (1024 * 720)" id="result-upload" type="text">
            </div>
        </div>


        @Html.HiddenFor(model=>model.UrlImagePlanimetry)

        <div class="col l12">

            <a class="btn  btn-large blue right" style="margin-top:1em;" id="add-planimetry"><i class="material-icons left">art_track</i>
            Agregar planimetría</a>

        </div>
    </div>

   


</div>

<div class="row">
    <div id="list-planimetry">


    </div>
</div>



<script>

    function GetPlanimetries(appId) {
        var id = Number(appId)
        var data = { "appId": id };
         $.ajax({
                url: '@Url.Action("GetPlanimetries", "Planimetries")',
                    cache: false,
                    data: data,
                    success: function (html) { $("#list-planimetry").html(html); }
                });


    }

    $(document).ready(function () {
      

        GetPlanimetries($("#appId").val());

        $("#file-upload").on("change", function (event) {
            var filePath = this.value;
            var allowedExtensions = /(.jpg|.jpeg|.png|.gif)$/i;
            if (!allowedExtensions.exec(filePath)) {
                Materialize.toast('solo están permitidas las siguientes extensiones: ' + '<br />'
                    + ".jpeg/.jpg/.png/.gif", 4000);
                this.value = '';
                return false;
            } else {
                event.preventDefault();
                var file = this.files[0];

                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = stateChange;
                xhr.open('POST','@Url.Action("HandleFileUpload", "Files")', true);
            xhr.setRequestHeader('X-FILE-NAME', file.name);
            xhr.send(file);
            }

        });

        function stateChange(event) {
            if (event.target.readyState == 4) {
                if (event.target.status == 200) {

                    //var xhr = event.target.xhr;
                    var response = $.parseJSON(this.responseText);

                    var path = response.path
                    $("#UrlImagePlanimetry").val(response.path);
                    Materialize.toast('Archivo subido exitósamente!' + '<br />', 4000);
                }
                else {
                    $("#result-upload").text('Ocurrio un fallo al subir el archivo!');
                }
            }
        }

        $("#add-planimetry").click(function () {

            var url = $("#UrlImagePlanimetry").val();
            var title = $("#TitlePlanimetry").val();
            var footer = $("#FooterPlanimetry").val()
            var appId = Number($("#appId").val());

            var data =
                {
                    'TitlePlanimetry': title,
                    'FooterPlanimetry': footer,
                    'UrlImagePlanimetry': url,
                    'AplicacionId':appId
                };

             $.ajax({
                url: '@Url.Action("AddPlanimetry", "Planimetries")',
                    cache: false,
                    data: data,
                    success: function (html) { $("#list-planimetry").html(html); }
                });

        });


    });


</script>