@model PiPiPrestaciones.Models.AplicacionCreateView

@{
    ViewBag.Title = "Incorporar Aplicación";
    var types = (List<PiPiPrestaciones.Models.Type>)ViewBag.Types;
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3 disabled"><a class="active" id="config-tab" href="#configuracion-general">Configuración general</a></li>
                <li class="tab col s3 disabled"><a id="def-menu" href="#menus-app">Definir menus</a></li>
            </ul>
        </div>
        <div class="row">
            <div id="configuracion-general" class="col s12 ">
                <div class="row">
                    <div class="input-field col s6">
                        @Html.EditorFor(model => model.Titulo)
                        @Html.LabelFor(model => model.Titulo)
                    </div>
                    <div class="col s6">
                        <p>
                            <input type="checkbox" id="App-Independiente" name="" />
                            <label for="App-Independiente">App independiente</label>
                        </p>
                        <div hidden>
                            @Html.HiddenFor(model => model.AppIndependiente)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select>
                            <option value="" disabled selected>Seleccione un idioma</option>
                            <option value="Español">Español</option>
                            <option value="Ingles">Ingles</option>
                            <option value="Portugues">Portugues</option>
                        </select>
                        <label>Seleccione un idioma</label>
                    </div>
                    <div class="col s6">
                        <p>
                            <input type="checkbox" id="Lenguaje-PorDefecto" name="" />
                            <label for="Lenguaje-PorDefecto">¿Lenguaje por defecto?</label>
                        </p>
                        <i>
                            Mostrar este idioma para usuarios que tengan el celular en una configuración distinta de español, inglés o portugués.
                        </i>
                        <div hidden>
                            @Html.HiddenFor(model => model.LenguajePorDefecto)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        @Html.LabelFor(model => model.AdminUser)
                        @Html.EditorFor(model => model.AdminUser)
                    </div>
                    <div class="input-field col s6">

                        @Html.LabelFor(model => model.AdminPasword)
                        @Html.EditorFor(model => model.AdminPasword)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        @Html.LabelFor(model => model.ClaveApp)
                        @Html.EditorFor(model => model.ClaveApp)
                    </div>
                    <div class="input-field col s6">

                        @Html.LabelFor(model => model.ApiKey)
                        @Html.EditorFor(model => model.ApiKey)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        @Html.LabelFor(model => model.Canal)
                        @Html.EditorFor(model => model.Canal)
                    </div>
                    <div class="input-field col s6">

                        @Html.LabelFor(model => model.HashTagTwiter)
                        @Html.EditorFor(model => model.HashTagTwiter)
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 m4 l3">
                        <a type="button" href="@Url.Action("Index","Aplicaciones")" class="waves-effect btn-large red accent-3"><i class="material-icons left">arrow_back</i>Aplicaciones</a>
                    </div>
                    <div class="col s6 m4 offset-m4 l3 offset-l6">
                        <button type="button" onclick="changeTab2()" class="waves-effect btn-large light-blue darken-2"><i class="material-icons right">keyboard_arrow_right</i> Continuar</button>
                    </div>
                </div>
            </div>
            <div id="menus-app" class="row container-menu">

                <div class="row">
                    <div class="input-field col s5">
                        @Html.LabelFor(model => model.CssAplicacion.ColorBack, "Color de Fondo de la app")
                        @Html.EditorFor(model => model.CssAplicacion.ColorBack)
                    </div>
                    <div hidden class="col s2">
                        <div class="btn-floating" id="seleccion-color"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 ">
                        <div align="center">
                            <p><label class="control-label">Agregar elementos al menú principal</label></p>
                            @foreach (var item in types)
                            {

                                <a class="sel-accion btn btn-primary" draggable="true" data-enable="true" id="btn-@item.TypeName" data-name="@item.TypeName"><i class="material-icons left">add</i>@item.TypeName</a>

                            }
                        </div>
                    </div>
                    <div class="col s4 offset-s2" align="center">
                        <div>
                            <div id="acciones-agregadas">
                                <div id="status-bar"></div>
                                <div id="title-app" align="center">
                                    Titulo
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 m4 l3">
                        <a type="button" href="@Url.Action("Index","Aplicaciones")" class="waves-effect btn-large red accent-3"><i class="material-icons left">arrow_back</i>Aplicaciones</a>
                    </div>
                    <div class="col s4 m4 l3 offset-l1">
                        <button type="button" onclick="changeTab1()" class="waves-effect btn-large deep-orange accent-3"><i class="material-icons left">keyboard_arrow_left</i>Regresar</button>
                    </div>
                    <div class="col s4 m4 l3 offset-l1">
                        <button type="submit" class="waves-effect btn-large light-blue darken-2"><i class="material-icons right">keyboard_arrow_right</i> Crear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div hidden>
    <button id="show-modal" data-target="modal1" class="btn show-modal modal-trigger">Modal</button>
</div>

<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        @Html.Partial("_EditMenu")
    </div>
    <div class="modal-footer">
        <a id="edit-menu-done"
           data-type=""
           data-order=""
           class="modal-action waves-effect waves-green btn-flat"><i class="material-icons right">done</i>Guardar</a>
    </div>
</div>

<label hidden id="index">0</label>

@section Scripts {
    @Scripts.Render("~/bundles/colorpicker/js")
    @Styles.Render("~/bundles/colorpicker/css")
}
<style>

    .row {
        padding-top: 2rem !important;
    }

    #status-bar {
        background-image: url(../../Resources/android-statusbar.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 120%;
        height: 2em;
    }

    .show-modal {
    }

    .btn-preview {
    }

    #title-app {
        background-size: cover;
        margin-left: 0;
        margin-right: 0;
        background-color: black;
        color: white;
        font-size: 32px;
        height: 1.5em;
        padding-bottom: 0.5em;
        margin-bottom: 0.5em;
    }

    .container-menu {
        margin-top: 1em;
    }

    .icon-ionic {
        font-size: 32px;
        padding-top: 0.5em;
    }

    a:active {
        border-bottom: rgba(171,166,166, 0.9);
    }

    .tabs .tab a {
        color: black;
        border-bottom: rgba(171,166,166, 0.9);
    }

        .tabs .tab a:hover {
            color: rgba(171,166,166, 0.9);
            text-decoration: none;
        }

        .tabs .tab a:active {
            border-bottom: rgba(171,166,166, 0.9);
            color: rgba(171,166,166, 0.9);
            text-decoration: none;
        }

    .sel-accion {
        width: 80%;
        margin-top: 1em;
    }

        .sel-accion:hover {
            background-color: rgba(73, 27, 27, 0.70);
            color: white;
        }

    #acciones-agregadas {
        height: 40em;
        min-height: 40em;
        min-width: 20em;
        overflow: scroll;
        position: relative;
        -ms-overflow-style: none;
     
        
    }

        #acciones-agregadas::-webkit-scrollbar {
            display: none;
           
        }

    #btn-type-list {
        height: 40em;
        min-height: 40em;
        min-width: 20em;
        position: relative;
    }

    .container-menu {
    }
</style>
<script>
    function changeTab2() {
        $('.tab').removeClass('disabled');
        $('#def-menu').trigger("click");
        $('.tab').addClass('disabled');
    }
    function changeTab1() {
        $('.tab').removeClass('disabled');
        $('#config-tab').trigger("click");
        $('.tab').addClass('disabled');
    }

    $(document).ready(function () {

        $('#CssAplicacion_ColorBack').colorpicker();

        $("#CssAplicacion_ColorBack").on("change", function () {
            var backGround = $(this).val()
            $("#seleccion-color").css("background-color", backGround);
            $("#acciones-agregadas").css("background-color", backGround);

        });

        $("#seleccion-color").click(function () {
            $('#CssAplicacion_ColorBack').focus();
        });

        $("#App-Independiente").click(function () {
            var val = $(this).val();

            if (val == "on") {
                $("#AppIndependiente").val(true);
            } else {

                $("#AppIndependiente").val(false);
            }

        });

        $("#Lenguaje-PorDefecto").click(function () {
            var val = $(this).val();

            if (val == "on") {
                $("#LenguajePorDefecto").val(true);
            } else {

                $("#LenguajePorDefecto").val(false);
            }

        });

        $("#select-idioma").on("change", function () {

            var val = $(this).val();
            if (val != "") {
                $("#Idioma").val(val);
            }


        });

        $(".sel-accion").click(function () {
            var enable = $(this).attr("data-enable");

            if (enable == "true") {
                 var n_id = Number($("#index").html());
            var i = $("#index").html();
            var type = $(this).attr("data-name");

            n_id += 1
            var data = {
                order: i,
                type:type
            }
            $.ajax({
            url: '@Url.Action("AddMenu", "Aplicaciones")',
            cache: false,
            data:data,
            success: function (html) { $("#acciones-agregadas").append(html); }
             });


            $("#index").html(n_id);

            if (type != "Paginas") {
                $(this).attr("data-enable", "false");
            }


            }
        });

        $("#show-modal").click(function () {
            $('#modal1').modal({
                dismissible: false, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
                inDuration: 300, // Transition in duration
                outDuration: 200, // Transition out duration
                startingTop: '4%', // Starting top style attribute
                endingTop: '10%', // Ending top style attribute
                ready: function (modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.

                },
                complete: function () { } // Callback for Modal close
            }
            );
        });

        $("#edit-menu-done").click(function () {
            var order = $(this).attr("data-order");
            var type = $(this).attr("data-type");
            var titleMenu = $("#titulo-edit-menu").val();
            var buttonColor = $("#backColor-button").val();
            var buttonTextColor = $("#backColor-button-text").val();
            var pageColor = $("#backColor-page").val();
            var pageColorText = $("#backColor-page-text").val();
            var icon = $("#icon-edit-menu").val();
            var backimage = $("#dropZone").attr("data-result");
            if (titleMenu == "") {
                titleMenu = type;
            }

            $("#Menus_" + order + "__" + "TitleMenu").val(titleMenu);
            $("#Menus_" + order + "__" + "Icon").val(icon);
            $("#Menus_" + order + "__" + "CssModelItemMenu_ColorBack").val(buttonColor);
            $("#Menus_" + order + "__" + "CssModelItemMenu_ColorText").val(buttonTextColor);
            $("#Menus_" + order + "__" + "CssModelMenu_ColorBack").val(pageColor);
            $("#Menus_" + order + "__" + "CssModelMenu_ColorText").val(pageColorText);
            $("#Menus_" + order + "__" + "CssModelItemMenu_ImageBack").val(backimage);

            //Seteo los atributos al preview

            var btnPreview = $("#btn-preview-" + order);

            btnPreview.css("background-color", buttonColor);
            btnPreview.css("color", buttonTextColor);

         // cosas para la imagen de fondo
            btnPreview.css("background-position", "center");
            btnPreview.css("background-size", "contain");
            btnPreview.css("background-image", "url(../" + backimage + ")");
            btnPreview.css("background-repeat", "no-repeat");

            var htmlIcon = "<i class='" + icon + " left'></i>" + titleMenu;
            //btnPreview.append(htmlIcon)
            btnPreview.html(htmlIcon);

          //Guardo las modificaciones en el atributo data-  de html
           btnPreview.attr("data-title",titleMenu);
           btnPreview.attr("data-ionicon",icon);
           btnPreview.attr("data-buttonColor", buttonColor);
           btnPreview.attr("data-buttonColorText", buttonTextColor);
           btnPreview.attr("data-pageColor", pageColor);
           btnPreview.attr("data-pageColorText", pageColorText);
           btnPreview.attr("data-imageback",backimage);
            //Cierro el modal
            $('#modal1').modal('close');
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('select').material_select();
    });
</script>