@model IEnumerable<PiPiPrestaciones.Models.Aplicacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VersionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VersionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AplicacionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AplicacionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AplicacionId })
        </td>
    </tr>
}

</table>
